SECRET_KEY=!g!0-7a$i5vwuf^9-9%)q13e8907=6!$q6rp8jemp%km=1wu)g
DEBUG=True
DB_NAME=school_inventory
DB_USER=school_admin
DB_PASSWORD=change_this_password
DB_HOST=localhost
DB_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1
